{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="jumbotron">
      <h1 class="display-4">Welcom to the store!</h1>
      <p class="lead">All items are sold by users of the site.</p>
      <hr class="my-4">
      <p>To create a listing click to button below or login or create an account to post</p>
      <form class="form-inline ml-auto">
        {% if user.is_authenticated %}
          <a href="{% url 'posts:store-new' %}" class="btn btn-success ml-2">Post New Item</a>
        {% endif %}
      </form>
    </div>
    {% if store_list %}
    <br>
    {% for store in store_list %}
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a href="{{ store.slug }}">
            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="{{ store.picture.url }}">
                <h3> {{ store.title }}</h3>
                <p class="card-text">{{ store.description }}</p>
                <p class="card-text">${{ store.price }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    </ul>
    {% else %}
      <p>No items</p>
    {% endif %}   
</body>
{% endblock %}