{% extends "base.html" %}

{% block content %}
<div class="card card-register">
    <h3>Log In <small class="text-muted">to create your own wiki pages!</small></h3>
    <br>
    <div class="row">
        <div class="col">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}" class="mx-auto">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-8">
                        <label for="id_username">Username</label>
                        <input class="form-control" type="text" name="username" id="id_username" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <label for="id_password">Password</label>
                        <input class="form-control" type="password" name="password" id="id_password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <input type="submit" value="login" class="btn btn-info">
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>
{% endblock %}

<div class="filter">
    <div class="row">
      <div class="col-lg-4 ml-auto mr-auto">
        <div class="card card-register">
          <h3 class="title mx-auto">Welcome!</h3>
          <form class="register-form" method="POST">
            <font color="black">
              {% csrf_token %}
              {{ form.as_p }}
            </font>
            <button class="btn btn-info btn-block btn-round">Register</button>
          </form>
        </div>
      </div>
  </div>
