{% extends 'base.html' %}
{% load static %}

{% block content %}
<body></body>
    <h2>list</h2>
    {% if post_list %}
    <ul>
    {% for post in post_list %}
      <ul>
        <div class="card">
          <div class="card-body">
            <h2><a href="{{ post.slug }}">{{ post.title }}</a></h2>
            <br>
            <br>
            {{ post.content }}
          </div>
        </div>
      </ul>
    {% endfor %}
    </ul>
    {% else %}
      <p>No posts</p>
    {% endif %}   
</body>
{% endblock %}