{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
  <div class="jumbotron">
    <h1 class="display-4">Posts</h1>
    <p class="lead">Posts by our users.</p>
    <hr class="my-4">
      <p>To create a post click to button below or login or create an account to post</p>
      <form class="form-inline ml-auto">
        <br>
        {% if user.is_authenticated %}
          <a href="{% url 'posts:store-new' %}" class="btn btn-info ml-2">Post New Item</a>
        {% endif %}
      </form>
    <hr>
  </div>
      <br>
    {% if post_list %}
    {% for post in post_list %}
      <ul
        <div class="card">
          <div class="card-body" text="center">
            <h2><a href="{{ post.slug }}">{{ post.title }}</a></h2>
            <br>
          </div>
        </div>
      </ul>
    {% endfor %}
    {% else %}
      <p>No posts</p>
    {% endif %}   
</body>
{% endblock %}